<!DOCTYPE html>
<html lang="en" class="sl-theme-dark">

<head>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.12.0/cdn/themes/light.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.12.0/cdn/themes/dark.css" />
  <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.12.0/cdn/shoelace.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <!-- Load the custom elements -->
  <script type="module" src="static/components/base/ok-base.js"></script>

  <script type="module" src="static/components/base/header/ok-header.js"></script>
  <script type="module" src="static/components/base/header/ok-user-menu.js"></script>

  <script type="module" src="static/components/base/footer/ok-footer.js"></script>

  <script type="module" src="static/components/base/menu/ok-menu-button.js"></script>
  <script type="module" src="static/components/base/menu/ok-menu.js"></script>

  <script type="module" src="static/components/detail/ok-detail-panel.js"></script>

  <script type="module" src="static/components/list/ok-list-panel.js"></script>

  <script type="module" src="static/components/list/menu/ok-list-action-menu.js"></script>
  <script type="module" src="static/components/list/menu/ok-list-sort-menu.js"></script>

  <script type="module" src="static/components/list/pagination/ok-list-pagination.js"></script>
  <script type="module" src="static/components/list/tile_list/ok-tile-list.js"></script>
  <script type="module" src="static/components/list/tile_list/ok-tile-list-drawer.js"></script>
  <script type="module" src="static/components/list/tile_list/ok-filter-tile.js"></script>
  <script type="module" src="static/components/list/tile_list/ok-filter-tile-detail.js"></script>

  <script type="module" src="static/components/list/tile_list/ok-tile.js"></script>
  <script type="module" src="static/components/list/tile_list/ok-list-menu.js"></script>
  <script type="module" src="static/components/list/tile_list/ok-tile-detail.js"></script>
  <script type="module" src="static/components/list/query_params/ok-query-param-list.js"></script>

  <script type="module" src="static/components/dialogs/ok-dialog.js"></script>

  <script type="module" src="static/components/forms/ok-form.js"></script>
  <script type="module" src="static/components/forms/ok-form-field.js"></script>
  <script type="module" src="static/components/forms/ok-list-filter-form.js"></script>
  <script type="module" src="static/components/forms/ok-login-form-dialog.js"></script>
  <script type="module" src="static/components/forms/ok-form-input-validation-error.js"></script>

  <script type="module" src="static/components/utilities/ok-placeholder.js"></script>
  <script type="module" src="static/components/utilities/ok-loading-notification.js"></script>
  <script type="module" src="static/components/utilities/ok-login-notification.js"></script>

  <link rel="icon" type="image/x-icon" href="static/assets/images/favicon.ico">
  <title>OPPI</title>
</head>

<body>
  {% block content %}
  {% endblock %}
</body>

</html>